/* html, body {
  height: 100%;
  width: 100%;
} */

body {
    text-align: center;
    background: black url("img/zigzag.bmp");
}

h1, p {
    color: blueviolet;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    font-size: 32px;
    padding-top: 12rem;
}

.bigger-text {
    font-size: 24px;
/* padding-top
    padding-bottom */
    padding-left: 1rem;
    padding-right: 1rem;
}

.smaller-text {
    font-size: 16px;
/* padding-top
    padding-bottom */
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
  background: url("img/Windows31.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  width: 800px;
  margin: auto;
}