/* html, body {
  height: 100%;
  width: 100%;
} */

body {
    text-align: center;
    background: url("img/zigzag.bmp");
}

h1, p {
    color: blueviolet;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    font-size: 32px;
    padding-top: 12.5rem;
}

hr {
  border: none;
}

.container {
  background: url("img/Windows31.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  width: 800px;
  margin: auto;
}

.bigger-text {
    font-size: 24px;
/* padding-top
    padding-bottom */
    padding-left: 1rem;
    padding-right: 1rem;
}

.smaller-text {
    font-size: 16px;
/* padding-top
    padding-bottom */
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
}

#button-homepage
{
  display: inline-block;
  width: 96px;
  height: 23px;
  background: url("img/button-home.png") no-repeat 0 0;
  margin: auto;
}

#button-homepage:hover
{ 
  background-position: 0 -23px;
}

#button-homepage span
{
  position: absolute;
  top: -999em;
}

#button-gallery
{
  display: inline-block;
  width: 96px;
  height: 23px;
  background: url("img/button-gallery.png") no-repeat 0 0;
  margin: auto;
}

#button-gallery:hover
{ 
  background-position: 0 -23px;
}

#button-gallery span
{
  position: absolute;
  top: -999em;
}

#button-favorites
{
  display: inline-block;
  width: 96px;
  height: 23px;
  background: url("img/button-favorites.png") no-repeat 0 0;
  margin: auto;
}

#button-favorites:hover
{ 
  background-position: 0 -23px;
}

#button-favorites span
{
  position: absolute;
  top: -999em;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

.list-items {
  list-style: square;
  text-align: left;
  font-size: 16px;
  color: blueviolet;
  font-family: "Lucida Console", "Courier New", monospace;
  padding-left: 4rem;
  padding-right: 4rem;
}